In [1]:
# Dependencies and datebase credentials
import pandas as pd
from sqlalchemy import create_engine
from config import user_nm
from config import user_pw
from config import user_port
import country_converter as coco

# Extraction

### 2015 world happiness index

In [2]:
world_happiness_index_2015_file = "Resources/world_happiness_index_2015.csv"
world_happiness_index_2015_df = pd.read_csv(world_happiness_index_2015_file)
world_happiness_index_2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
len(world_happiness_index_2015_df)

158

In [4]:
world_happiness_index_2015_df['Country'].nunique()

158

### 2016 world happiness index

In [5]:
world_happiness_index_2016_file = "Resources/world_happiness_index_2016.csv"
world_happiness_index_2016_df = pd.read_csv(world_happiness_index_2016_file)
world_happiness_index_2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [6]:
len(world_happiness_index_2016_df)

157

In [7]:
world_happiness_index_2016_df['Country'].nunique()

157

### 2017 world happiness index

In [8]:
world_happiness_index_2017_file = "Resources/world_happiness_index_2017.csv"
world_happiness_index_2017_df = pd.read_csv(world_happiness_index_2017_file)
world_happiness_index_2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [9]:
len(world_happiness_index_2017_df)

155

In [10]:
world_happiness_index_2017_df['Country'].nunique()

155

### Alcohol abuse

In [11]:
alcoholSubstanceAbuse_file = "Resources/alcoholSubstanceAbuse.csv"
alcoholSubstanceAbuse_df = pd.read_csv(alcoholSubstanceAbuse_file)
alcoholSubstanceAbuse_df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350

In [12]:
len(alcoholSubstanceAbuse_df)

2787

In [13]:
alcoholSubstanceAbuse_df['Location'].nunique()

188

### Antidepressant consumption

In [14]:
antidepressant_consumption_file = "Resources/List_of_countries_by_antidepressant_consumption.csv"
antidepressant_consumption_df = pd.read_csv(antidepressant_consumption_file)
antidepressant_consumption_df.fillna('', inplace=True)
antidepressant_consumption_df.head()

,Country,Defined daily dosage per 1 000 inhabitants per day,Year,Data include drugs dispensed in hospitals,Data include non-reimbursed drugs,Data include OTC drugs,Notes
0,Iceland,141.4,2017,,,,
1,Australia,106.7,2016,,,,
2,Portugal,103.6,2017,,Data include both reimbursed and non-reimburse...,"Yes, but only OTC products sold in pharmacies.",
3,United Kingdom,100.1,2016,,,,
4,Canada,99.6,2017,,,"See note Generally, claims for OTC drugs are n...",Provisional value.

In [15]:
len(antidepressant_consumption_df)

29

In [16]:
antidepressant_consumption_df['Country'].nunique()

29

# Transform

#### World happiness 2015

In [17]:
world_happiness_index_2015_df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [18]:
del world_happiness_index_2015_df['Region']
del world_happiness_index_2015_df['Standard Error']
world_happiness_index_2015_df.rename(columns = {'Country':'country',
                                                    'Happiness Rank':'happiness_rank',
                                                    'Happiness Score':'happiness_score',
                                                    'Economy (GDP per Capita)':'gdp_per_capita',
                                                    'Family':'family',
                                                    'Health (Life Expectancy)':'life_expectancy',
                                                    'Freedom':'freedom',
                                                    'Generosity':'generosity',
                                                    'Trust (Government Corruption)':'trust_government',
                                                    'Dystopia Residual':'dystopia_residual'}, inplace = True)
world_happiness_index_2015_df['year']=2015
world_happiness_index_2015_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,trust_government,generosity,dystopia_residual,year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

#### World happiness 2016

In [19]:
world_happiness_index_2016_df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [20]:
del world_happiness_index_2016_df['Region']
del world_happiness_index_2016_df['Lower Confidence Interval']
del world_happiness_index_2016_df['Upper Confidence Interval']
world_happiness_index_2016_df.rename(columns = {'Country':'country',
                                                    'Happiness Rank':'happiness_rank',
                                                    'Happiness Score':'happiness_score',
                                                    'Economy (GDP per Capita)':'gdp_per_capita',
                                                    'Family':'family',
                                                    'Health (Life Expectancy)':'life_expectancy',
                                                    'Freedom':'freedom',
                                                    'Generosity':'generosity',
                                                    'Trust (Government Corruption)':'trust_government',
                                                    'Dystopia Residual':'dystopia_residual'}, inplace = True)
world_happiness_index_2016_df['year']=2016
world_happiness_index_2016_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,trust_government,generosity,dystopia_residual,year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

#### World happiness 2017

In [21]:
world_happiness_index_2017_df.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [22]:
del world_happiness_index_2017_df['Whisker.high']
del world_happiness_index_2017_df['Whisker.low']
world_happiness_index_2017_df.rename(columns = {'Country':'country',
                                                    'Happiness.Rank':'happiness_rank',
                                                    'Happiness.Score':'happiness_score',
                                                    'Economy..GDP.per.Capita.':'gdp_per_capita',
                                                    'Family':'family',
                                                    'Health..Life.Expectancy.':'life_expectancy',
                                                    'Freedom':'freedom',
                                                    'Generosity':'generosity',
                                                    'Trust..Government.Corruption.':'trust_government',
                                                    'Dystopia.Residual':'dystopia_residual'}, inplace = True)
world_happiness_index_2017_df = world_happiness_index_2017_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita',
       'family', 'life_expectancy', 'freedom', 'trust_government', 'generosity', 'dystopia_residual']]
world_happiness_index_2017_df['year']=2017
world_happiness_index_2017_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,trust_government,generosity,dystopia_residual,year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182,2017

In [23]:
# appending all the world happiness datasets
world_happiness_index_df = world_happiness_index_2015_df.append(world_happiness_index_2016_df, ignore_index = True)
world_happiness_index_df = world_happiness_index_df.append(world_happiness_index_2017_df, ignore_index = True)
world_happiness_index_df.head(-5)

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,trust_government,generosity,dystopia_residual,year
0,Switzerland,1,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015
1,Iceland,2,7.561,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2.702010,2015
2,Denmark,3,7.527,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2.492040,2015
3,Norway,4,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2.465310,2015
4,Canada,5,7.427,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2.451760,2015
...,...,...,...,...,...,...,...,...,...,...,...
460,Yemen,146,3.593,0.591683,0.935382,0.310081,0.249464,0.056767,0.104125,1.345601,2017
461,South Sudan,147,3.591,0.397249,0.601323,0.163486,0.147062,0.116794,0.285671,1.879567,2017
462,Liberia,148,3.533,0.119042,0.872118,0.229918,0.332881,0.038948,0.266550,1.673286,2017
463,Guinea,149,3.507,0.244550,0.791245,0.194129,0.348588,0.110938,0.264815,1.552312,2017
464,Togo,150,3.495,0.305445,0.431883,0.247106,0.380426,0.095665,0.196896,1.837229,2017

In [24]:
# Creating a dataframe for standardized county names for each country in world_happiness_index_df
entity1= list(set(world_happiness_index_df["country"]))
standard_names1 = coco.convert(names=entity1, to='name_short')
standardized_names1_df = pd.DataFrame({"country" : entity1,
                                      "standard_names": standard_names1}).sort_values(by = "country").reset_index(drop = True)
standardized_names1_df.head()

       country standard_names
0  Afghanistan    Afghanistan
1      Albania        Albania
2      Algeria        Algeria
3       Angola         Angola
4    Argentina      Argentina

In [25]:
# joining with world_happiness_index_df to get the standardized names
world_happiness_index_df = pd.merge(world_happiness_index_df, standardized_names1_df, how = "left", left_on='country', right_on='country')
del world_happiness_index_df['country']
world_happiness_index_df.rename(columns = {'standard_names': 'country'}, inplace =True)
world_happiness_index_df= world_happiness_index_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita',
       'family', 'life_expectancy', 'freedom', 'trust_government',
       'generosity', 'dystopia_residual', 'year']]
world_happiness_index_df.head(-5)

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,trust_government,generosity,dystopia_residual,year
0,Switzerland,1,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015
1,Iceland,2,7.561,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2.702010,2015
2,Denmark,3,7.527,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2.492040,2015
3,Norway,4,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2.465310,2015
4,Canada,5,7.427,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2.451760,2015
...,...,...,...,...,...,...,...,...,...,...,...
460,Yemen,146,3.593,0.591683,0.935382,0.310081,0.249464,0.056767,0.104125,1.345601,2017
461,South Sudan,147,3.591,0.397249,0.601323,0.163486,0.147062,0.116794,0.285671,1.879567,2017
462,Liberia,148,3.533,0.119042,0.872118,0.229918,0.332881,0.038948,0.266550,1.673286,2017
463,Guinea,149,3.507,0.244550,0.791245,0.194129,0.348588,0.110938,0.264815,1.552312,2017
464,Togo,150,3.495,0.305445,0.431883,0.247106,0.380426,0.095665,0.196896,1.837229,2017

#### World alcohol consumption per capita

In [26]:
alcoholSubstanceAbuse_df.columns

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip'], dtype='object')

In [27]:
del alcoholSubstanceAbuse_df['Indicator']
alcoholSubstanceAbuse_df.rename(columns = {'Location' : 'country', 'Period':'year',
                                                'Dim1':'gender','First Tooltip': 'per_capita_consumption'}, inplace = True)
alcoholSubstanceAbuse_df.head()

       country  year      gender  per_capita_consumption
0  Afghanistan  2018  Both sexes                   0.210
1  Afghanistan  2018        Male                   0.360
2  Afghanistan  2018      Female                   0.055
3  Afghanistan  2015  Both sexes                   0.210
4  Afghanistan  2015        Male                   0.350

In [28]:
# Creating a dataframe for standardized county names for each country in alcoholSubstanceAbuse_df
entity2= list(set(alcoholSubstanceAbuse_df["country"]))
standard_names2 = coco.convert(names=entity2, to='name_short')
standardized_names2_df = pd.DataFrame({"country" : entity2,
                                      "standard_names": standard_names2}).sort_values(by = "country").reset_index(drop = True)
standardized_names2_df.head()

       country standard_names
0  Afghanistan    Afghanistan
1      Albania        Albania
2      Algeria        Algeria
3      Andorra        Andorra
4       Angola         Angola

In [29]:
# joining with alcoholSubstanceAbuse_df to get the standardized names
alcoholSubstanceAbuse_df = pd.merge(alcoholSubstanceAbuse_df, standardized_names2_df, how = "left", left_on='country', right_on='country')
del alcoholSubstanceAbuse_df['country']
alcoholSubstanceAbuse_df.rename(columns = {'standard_names': 'country'}, inplace =True)
alcoholSubstanceAbuse_df= alcoholSubstanceAbuse_df[['country', 'year', 'gender', 'per_capita_consumption']]
alcoholSubstanceAbuse_df.head(-5)

          country  year      gender  per_capita_consumption
0     Afghanistan  2018  Both sexes                   0.210
1     Afghanistan  2018        Male                   0.360
2     Afghanistan  2018      Female                   0.055
3     Afghanistan  2015  Both sexes                   0.210
4     Afghanistan  2015        Male                   0.350
...           ...   ...         ...                     ...
2777     Zimbabwe  2015      Female                   1.720
2778     Zimbabwe  2010  Both sexes                   3.930
2779     Zimbabwe  2010        Male                   6.710
2780     Zimbabwe  2010      Female                   1.390
2781     Zimbabwe  2005  Both sexes                   2.770

[2782 rows x 4 columns]

#### World antidepressant consumption per 1000 people per day

In [30]:
antidepressant_consumption_df.columns

Index(['Country', 'Defined daily dosage per 1 000 inhabitants per day', 'Year',
       'Data include drugs dispensed in hospitals',
       'Data include non-reimbursed drugs', 'Data include OTC drugs', 'Notes'],
      dtype='object')

In [31]:
antidepressant_consumption_df['notes']= antidepressant_consumption_df['Data include drugs dispensed in hospitals']+ \
                                        antidepressant_consumption_df['Data include non-reimbursed drugs']+ \
                                        antidepressant_consumption_df['Data include OTC drugs']+\
                                        antidepressant_consumption_df['Notes']
del antidepressant_consumption_df['Data include drugs dispensed in hospitals']
del antidepressant_consumption_df['Data include non-reimbursed drugs']
del antidepressant_consumption_df['Data include OTC drugs']
del antidepressant_consumption_df['Notes']
antidepressant_consumption_df.rename(columns = {'Country': 'country',
                                                     'Defined daily dosage per 1 000 inhabitants per day': 'daily_dosage_per_1k',
                                                     'Year': 'year'}, inplace=True)
antidepressant_consumption_df.head()

,country,daily_dosage_per_1k,year,notes
0,Iceland,141.4,2017,
1,Australia,106.7,2016,
2,Portugal,103.6,2017,Data include both reimbursed and non-reimburse...
3,United Kingdom,100.1,2016,
4,Canada,99.6,2017,"See note Generally, claims for OTC drugs are n..."

In [32]:
# Creating a dataframe for standardized county names for each country in antidepressant_consumption_df
entity3= list(set(antidepressant_consumption_df["country"]))
standard_names3 = coco.convert(names=entity3, to='name_short')
standardized_names3_df = pd.DataFrame({"country" : entity3,
                                      "standard_names": standard_names3}).sort_values(by = "country").reset_index(drop = True)
standardized_names3_df.head()

     country standard_names
0  Australia      Australia
1    Austria        Austria
2    Belgium        Belgium
3     Canada         Canada
4      Chile          Chile

In [33]:
# joining with antidepressant_consumption_df to get the standardized names
antidepressant_consumption_df = pd.merge(antidepressant_consumption_df, standardized_names3_df, how = "left", left_on='country', right_on='country')
del antidepressant_consumption_df['country']
antidepressant_consumption_df.rename(columns = {'standard_names': 'country'}, inplace =True)
antidepressant_consumption_df= antidepressant_consumption_df[['country', 'daily_dosage_per_1k', 'year', 'notes']]
antidepressant_consumption_df.head(-5)

,country,daily_dosage_per_1k,year,notes
0,Iceland,141.4,2017,
1,Australia,106.7,2016,
2,Portugal,103.6,2017,Data include both reimbursed and non-reimburse...
3,United Kingdom,100.1,2016,
4,Canada,99.6,2017,"See note Generally, claims for OTC drugs are n..."
5,Sweden,96.8,2017,Data include OTC drugs both from pharmacies an...
6,Belgium,79.0,2016,
7,Denmark,77.0,2015,
8,Spain,75.5,2016,
9,New Zealand,72.8,2014,
10,Finland,67.6,2016,Data are based on wholesale of pharmaceuticals.
11,Austria,60.5,2016,Drug consumption in hospitals and in hospital ...
12,Slovenia,58.6,2016,See note Data include all medicines with a med...
13,Norway,57.1,2017,
14,Czech Republic,57.1,2016,
15,Germany,56.5,2016,See note Data contain exclusively the drug con...
16,Luxembourg,52.7,2017,
17,France,49.8,2009,Data include drug consumption both in hospital...
18,Israel,49.2,2017,
19,Greece,48.1,2015,Difference in methodology.
20,Netherlands,46.1,2016,
21,Chile,41.4,2017,
22,Turkey,41.0,2016,See note Data include drugs dispensed in pharm...
23,Italy,40.3,2017,Estimated value.

# Connection to postgres database

In [34]:
connection_string = f"{user_nm}:{user_pw}@localhost:{user_port}/world_db"
engine = create_engine(f'postgresql://{connection_string}')

In [35]:
# Confirm tables
engine.table_names()

['happiness', 'alcohol_consumption', 'antidepressant_consumption']

# Load DataFrames into database

In [36]:
world_happiness_index_df.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [37]:
alcoholSubstanceAbuse_df.to_sql(name='alcohol_consumption', con=engine, if_exists='append', index=False)

In [38]:
antidepressant_consumption_df.to_sql(name='antidepressant_consumption', con=engine, if_exists='append', index=False)