In [1]:
# Import Modules
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [2]:
# Extract WHO Happiness CSV into DF
happy_file = "Resources/world_happiness_index_2017.csv"
happy_df = pd.read_csv(happy_file)
happy_df.head(10)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211

In [3]:
# Rename column headers
happy_df_rename = happy_df.rename(columns={'Happiness.Rank': 'Happinesss_Rank', 'Happiness.Score': 'Happiness_Score','Whisker.high': 'Whisker_(High)', 'Whisker.low': 'Whisker_(Low)', 'Economy..GDP.per.Capita.': 'Economy_(GDP_per_Cap)', 'Health..Life.Expectancy.': 'Health_(Life_Expectancy)', 'Trust..Government.Corruption.': 'Trust_(Gov_Corruption)', 'Dystopia.Residual': 'Dystopia_(Residual)'})
happy_df_rename.head()

,Country,Happinesss_Rank,Happiness_Score,Whisker_(High),Whisker_(Low),Economy_(GDP_per_Cap),Family,Health_(Life_Expectancy),Freedom,Generosity,Trust_(Gov_Corruption),Dystopia_(Residual)
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [4]:
# Extract alchohol abuse CSV into DF
alcohol_file = "Resources/alcoholSubstanceAbuse.csv"
alcohol_df = pd.read_csv(alcohol_file)
alcohol_df.head(10)

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350
5,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Female,0.054
6,Afghanistan,2010,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
7,Afghanistan,2010,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
8,Afghanistan,2010,Total (recorded+unrecorded) alcohol per capita...,Female,0.054
9,Albania,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,7.170

In [5]:
# Rename column headers
alcohol_df_rename = alcohol_df.rename(columns={'Location': 'Country','Dim1': 'Gender', 'First Tooltip': 'Consumption_Rate_(Drinks_per_Mo)'})
alcohol_df_rename.head()

,Country,Period,Indicator,Gender,Consumption_Rate_(Drinks_per_Mo)
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350

In [6]:
# Extract antidepressant CSV into DF
depress_file = "Resources/List_of_countries_by_antidepressant_consumption.csv"
depress_df = pd.read_csv(depress_file)
depress_df.head(20)

,Country,Defined daily dosage per 1 000 inhabitants per day,Year,Data include drugs dispensed in hospitals,Data include non-reimbursed drugs,Data include OTC drugs,Notes
0,Iceland,141.4,2017,NaN,NaN,NaN,NaN
1,Australia,106.7,2016,NaN,NaN,NaN,NaN
2,Portugal,103.6,2017,NaN,Data include both reimbursed and non-reimburse...,"Yes, but only OTC products sold in pharmacies.",NaN
3,United Kingdom,100.1,2016,NaN,NaN,NaN,NaN
4,Canada,99.6,2017,NaN,NaN,"See note Generally, claims for OTC drugs are n...",Provisional value.
5,Sweden,96.8,2017,NaN,NaN,Data include OTC drugs both from pharmacies an...,NaN
6,Belgium,79.0,2016,NaN,NaN,NaN,NaN
7,Denmark,77.0,2015,NaN,NaN,NaN,NaN
8,Spain,75.5,2016,NaN,NaN,NaN,NaN
9,New Zealand,72.8,2014,NaN,NaN,NaN,NaN
10,Finland,67.6,2016,Data are based on wholesale of pharmaceuticals.,NaN,NaN,NaN
11,Austria,60.5,2016,Drug consumption in hospitals and in hospital ...,See note Data cover only drugs reimbursed by t...,NaN,NaN
12,Slovenia,58.6,2016,NaN,See note Data include all medicines with a med...,See note Only OTC drugs with a medical prescri...,NaN
13,Norway,57.1,2017,NaN,NaN,NaN,NaN
14,Czech Republic,57.1,2016,NaN,NaN,NaN,NaN
15,Germany,56.5,2016,NaN,See note Data contain exclusively the drug con...,NaN,NaN
16,Luxembourg,52.7,2017,NaN,NaN,NaN,NaN
17,France,49.8,2009,Data include drug consumption both in hospital...,NaN,NaN,NaN
18,Israel,49.2,2017,NaN,NaN,NaN,NaN
19,Greece,48.1,2015,NaN,NaN,NaN,Difference in methodology.

In [7]:
# Drop right side columns in depress_df that are littered with NaNs, and group by year 2017
cols = ["Country", "Defined daily dosage per 1 000 inhabitants per day", "Year"]
depress_df_clean = depress_df[cols].copy()
depress_df_gb_clean = depress_df_clean.groupby("Year", as_index=False)
depress_df_gb_clean.head(20)

           Country  Defined daily dosage per 1 000 inhabitants per day  Year
0          Iceland                                              141.4   2017
1        Australia                                              106.7   2016
2         Portugal                                              103.6   2017
3   United Kingdom                                              100.1   2016
4           Canada                                               99.6   2017
5           Sweden                                               96.8   2017
6          Belgium                                               79.0   2016
7          Denmark                                               77.0   2015
8            Spain                                               75.5   2016
9      New Zealand                                               72.8   2014
10         Finland                                               67.6   2016
11         Austria                                               60.5   2016
12        Slovenia                                               58.6   2016
13          Norway                                               57.1   2017
14  Czech Republic                                               57.1   2016
15         Germany                                               56.5   2016
16      Luxembourg                                               52.7   2017
17          France                                               49.8   2009
18          Israel                                               49.2   2017
19          Greece                                               48.1   2015
20     Netherlands                                               46.1   2016
21           Chile                                               41.4   2017
22          Turkey                                               41.0   2016
23           Italy                                               40.3   2017
24        Slovakia                                               38.9   2016
25         Hungary                                               28.8   2017
26         Estonia                                               28.8   2017
27     South Korea                                               19.9   2016
28          Latvia                                               13.3   2016